{% extends "layout.jinja2" %}
{% block content %}
 <div class="col-sm-8 blog-main">
         <section>
         <!-- This form copy pasted from class 301's kilovolt blog. -->
        <h1>New Journal entry</h1>
        <form method="POST" id="new-form">
          <input type="text" placeholder="title" name="title" id="article-title" value={{ title }}>
          <textarea id="article-body" name="body" rows="8" cols="40" placeholder="Body of post." value={{ body }}  required></textarea>
          <input type="submit" value="Submit">
        </form>
      </section>

        </div><!-- /.blog-main -->

{% endblock %}