{% extends "layout.jinja2" %}
{% block content %}

        <div class="blog-header">
            <h1 class="blog-title">Entry view</h1>
        </div>
        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">{{entry.title}}</h2>
            <p class="blog-post-meta">{{entry.creation_date}}</p>
              <p>{{entry.body}}</p>
              {% if userauth %}<button type="button" class="btn"><a href="{{request.route_url('edit', id=entry.id)}}">Edit</a></button>{% endif %}
          </div><!-- /.blog-post -->

        </div><!-- /.blog-main -->

{% endblock %}