{% extends "layout.jinja2" %}
{% block content %}
        <div class="col-sm-8 blog-main">
         <section>
         <!-- This form copy pasted from class 301's kilovolt blog. -->
        <h1>Edit Journal entry</h1>
        <form action="#" id="new-form">
            <input type="text" id="article-title" value="{{entry.title}}" required>
          <textarea id="article-body" rows="8" cols="40" required>{{entry.body}}</textarea>
        </form>
      </section>

        </div><!-- /.blog-main -->
{% endblock %}



