<!DOCTYPE html>
<html lang="en">
<!-- This is code imported in from bootstraps. It is not mine. At all. -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


    <title>Erik's journal</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/blog.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="/journal/new-entry">Create</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The pyramid Blog</h1>
        <h3>A templated journal made with bootstrap.</h3>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Sample journal post</h2>
            <p class="blog-post-meta">January 1, 2014</p>
              <p>The three pyramids in Giza Necropolis are the most famous Egyptian pyramids but in fact, as many as about 140 pyramids in total have been discovered in the area of the Ancient Egypt.</p>
              <button type="button" class="btn"><a href="/journal/1">Detail</a></button>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Another journal post</h2>
            <p class="blog-post-meta">December 23, 2013

              <p>
                Until the Lincoln Cathedral was built in England in 1311, the Great Pyramid of Giza held the title for the world´s tallest man-made structure. It held the record for an incredible and unparalleled 3871 years!</p>
                <button type="button" class="btn"><a href="/journal/1">Detail</a></button>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">A third journal post</h2>
            <p class="blog-post-meta">December 14, 2013

             <p>
              The first known pyramid architect was Imhotep, an Ancient Egyptian polymath, engineer and physician. He is considered the author of the first major pyramid – the Pyramid of Djoser.</p>
              <button type="button" class="btn"><a href="/journal/1">Detail</a></button>
          </div><!-- /.blog-post -->
           <div class="blog-post">
            <h2 class="blog-post-title">A fourth journal post</h2>
            <p class="blog-post-meta">December 14, 2013

             <p>
             
                While experts usually agree on the hypothesis - that the pyramids were built from huge stones carved with copper chisels from stone quarries - the methods used to move and place the stones remain the matter of further debates and speculations.</p>
                <button type="button" class="btn"><a href="/journal/1">Detail</a></button>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">A fifth journal post</h2>
            <p class="blog-post-meta">December 14, 2013

             <p>
            The Great Pyramid of Giza is estimated to consist of 2,300,000 stone blocks that weigh anywhere between 2 to 30 tons with some blocks weighing over 50 tons.</p>
            <button type="button" class="btn"><a href="/journal/1">Detail</a></button>
          </div><!-- /.blog-post -->


          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>This is my journal site! Where I keep my journal things! I'm pretty sure this is going to be written in pyramid... so right now this blog has a bunch of pyramid facts! *taken from list25.com</p>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
