{% extends "layout.jinja2" %}
{% block content %}

        <div class="blog-header">
            <h1 class="blog-title">The Pyramid Blog</h1>
        </div>

        <div class="col-sm-8 blog-main">

          {% for entry in posts %}
              <div class="blog-post">
                <h2 class="blog-post-title">{{entry.title}}</h2>
                <p class="blog-post-meta">{{entry.creation_date}}</p>
                  <p>{{entry.body}}</p>
                  <button type="button" class="btn"><a href="{{request.route_url('detail', id=entry.id)}}">Detail</a></button>
              </div><!-- /.blog-post -->
          {% endfor %}

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->
{% endblock %}
